.headerContainer {
  height: 7rem;
}

.headerContent {
  max-width: 1120px;
  height: 10rem;
  margin: 0 auto;
  padding: 5rem 8rem;

  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }
}
